@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QuanLyKhachSan22.Models.Phong

@{
    ViewData["Title"] = "SuaPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa Phòng</h1>

<h4>Phòng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="SuaPhong">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdP" />
            <div class="form-group">
                <label asp-for="TenP" class="control-label"></label>
                <input asp-for="TenP" class="form-control" />
                <span asp-validation-for="TenP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLp" class="control-label"></label>
                <select asp-for="IdLp" class="form-control" asp-items="ViewBag.IdLp"></select>
                <span asp-validation-for="IdLp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaP" class="control-label"></label>
                <input asp-for="GiaP" class="form-control" />
                <span asp-validation-for="GiaP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnhPhong" class="control-label"></label>
                <input asp-for="HinhAnhPhong" class="form-control" />
                <span asp-validation-for="HinhAnhPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TinhTrang" class="control-label"></label>
                <input asp-for="TinhTrang" class="form-control" />
                <span asp-validation-for="TinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Html.ActionLink("Về trang chủ", "QLPhong")</a>
</div>

