@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QuanLyKhachSan22.Models.Phong

@{
    ViewData["Title"] = "SuaPhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>SuaPhong</h1>
<hr />




<form action="/SuaPhong" method="post">


    <div class="form-group">
        <label>Tên Phòng</label>
        <input type="text" class="form-control" value="@Model.TenP" id="TenP" name="TenP" />
    </div>
    <div class="form-group">
        <label>Giá Phòng</label>
        <input type="text" class="form-control" value="@Model.GiaP" <a href="d:\ltcsdl\quanlykhachsan22\quanlykhachsan22\views\admin\suaphong.cshtml">d:\ltcsdl\quanlykhachsan22\quanlykhachsan22\views\admin\suaphong.cshtml</a>id="GiaP" name="GiaP" />
    </div>
    <div class="form-group">
        <label>Tình trạng</label>
        <input type="text" class="form-control" value="@Model.TinhTrang" id="TinhTrang" name="TinhTrang" />
    </div>
    <button class="btn btn-primary" type="submit">Sửa</button>

</form>

<div>
    <a asp-action="Index">@Html.ActionLink("Về trang chủ", "QLPhong")</a>
</div>

