@model QuanLyKhachSan22.Models.Phieudatphong
@{
    ViewData["Title"] = "ThemPhieuThuePhong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<h1>Thêm Phiếu Thuê Phòng</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form action="/danhsachthuephong" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPdp" class="control-label"></label>
                <input asp-for="IdPdp" class="form-control" />
                <span asp-validation-for="IdPdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdKh" class="control-label"></label>
                <select asp-for="IdKh" class="form-control" asp-items="ViewBag.IdKh"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdP" class="control-label"></label>
                <select asp-for="IdP" class="form-control" asp-items="ViewBag.IdP"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdNv" class="control-label"></label>
                <select asp-for="IdNv" class="form-control" asp-items="ViewBag.IdNv"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayDatPhong" class="control-label"></label>
                <input asp-for="NgayDatPhong" class="form-control" />
                <span asp-validation-for="NgayDatPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTraPhong" class="control-label"></label>
                <input asp-for="NgayTraPhong" class="form-control" />
                <span asp-validation-for="NgayTraPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongTien" class="control-label"></label>
                <input asp-for="TongTien" class="form-control" />
                <span asp-validation-for="TongTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>