
@{
    ViewData["Title"] = "ThemLP";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemLP</h1>
<form action="/ThemLP" method="post">

    <div class="form-group">
        <label>Tên Loại Phòng</label>
        <input type="text" class="form-control" id="TenLp" name="TenLp" />
    </div>
   
    <div class="form-group">
        <label>Mô Tả Loại Phòng</label>
        <input type="text" class="form-control" id="MoTaLp" name="MoTaLp" />
    </div>
    <button class="btn btn-primary" type="submit">Thêm</button>

</form>

