
@{
    ViewData["Title"] = "ThemKH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemKH</h1>

<form action="/ThemKH" method="post">

    <div class="form-group">
        <label>Tên Khách Hàng</label>
        <input type="text" class="form-control" id="HoTenKh" name="HoTenKh" />
    </div>

    <div class="form-group">
        <label>Ngày Sinh</label>
        <input type="text" class="form-control" id="NgaySinhKh" name="NgaySinhKh" />
    </div>
    <div class="form-group">
        <label>SĐT</label>
        <input type="text" class="form-control" id="SdtKh" name="SdtKh" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="EmailKh" name="EmailKh" />
    </div>
    <div class="form-group">
        <label>Địa Chỉ</label>
        <input type="text" class="form-control" id="DiaChiKh" name="DiaChiKh" />
    </div>
    <button class="btn btn-primary" type="submit">Thêm</button>

</form>
